* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body>header {
    background-color: #2f3640;
    padding: 16px 0;
    color: #f5f6fa;
    overflow: hidden;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header li {/*esporte economia alinhar para a direita*/
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 16px;
    text-align: end;
    
    
}

header li a {/*PROBLEMA SOLUCIONADO*/
    color: beige;
    text-decoration: none;
    padding: 0px 10px 0px 10px;/**/
    display: inline;
    
    
}

.container {
    width: 1200px;
    margin: 0 auto;
    
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article img {
    /*height: 180px;*/
    width: 100%;
}

.articles article {
    width: 30%;
}

section {
    padding: 16px 0;
}

section h2,
.articles article  {
    margin-bottom: 16px;
}

.articles article h3 {
    margin-top: 8px;
    margin-bottom: 8px;
}

.articles article a {
    background-color: blue;
    color: #fff;
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    margin-top: 8px;
}

.articles article a:hover {
    text-decoration: underline;
}

.articles article p,
.articles article a {
    font-family: Arial, Helvetica, sans-serif;
}

.articles article h3 {
    font-size: 24px;
}

section h2 {
    font-size: 32px;
}

#sports {
    background-color: rgba(0, 255, 0, 0.1);
}

#sports .articles article a {
    background-color: #009432;
}

#economy {
    background-color: rgba(255, 236, 128, 0.74);
}

#economy .articles article a {
    background-color: #ff9f1a;
}

#entretenimento {
    background-color: rgba(25, 40, 243, 0.1);
}

#entretenimento .articles article a {
    background-color: #87d1f3;
}

#tecnologia {
    background-color: rgba(194, 177, 177, 0.74);
}

#tecnologia .articles article a {
    background-color: #bd3500;
}